@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1 {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

body {
    background-color: black;
    margin: 2%;
}

#open_bttns {
    padding-top: 5%;
    display: flex;
    justify-content: left;
}

.login_bttn {
    background-color: #f037a5;
    border: 4px solid black;
    color: black;
    padding: 20px 40px;
    text-align: center;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: larger;
    
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}


.login_bttn:hover {
    background-color: black;
    color: #f037a5;
    border: 4px solid #f037a5;
}

#open {
    font-family: 'Lexend Deca', sans-serif;
    opacity: 0;
        animation: fadeIn 3s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
}

#open_1 {
    color: #cdf564;
    font-weight: 700;
    font-size: 100px;
    
}

#open_2 {
    color: white;
    font-size: 50px;
    padding-top: 10px;
}

footer {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    margin: 2%;
    font-size: small;
    display: flex;
    justify-content: space-between;
}

footer button {
    text-decoration: underline;
}

footer img {
    height: 50px;
    width: 50px;
}

.footer_links {
    display: flex;
    align-items: center;
}
.footer_links a {
    padding: 10px;
}

.profile_links {
    display: flex;
    justify-content: left;
}

hr {
    color: white;
    margin: 2%;
    background-color: white;
    margin-top: 9%;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
}

header a {
    color: black;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #cdf564;
    text-align: center;
    border-radius: 50px;
    padding: 15px;
    border: 4px solid black
}

header a:hover {
    border: #cdf564 4px solid;
    background-color: black;
    color: #cdf564;
}