@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slide {
    background-color: #cdf564;
    border-radius: 25px;
    /* height: 100%; */
    font-family: 'Lexend Deca', sans-serif;
    min-height: 650px;

    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

/* Tracks slide */
#topTracks_figure {
    display: flex;
    justify-content: space-around;
}

#topTracks img {
    padding-top: 15%;
    display: flex;
    justify-content: space-evenly;
}

#topTracks h3 {
    color: #f037a5;
    font-weight: 700;
    font-size: 800%;
    display: flex;
    justify-content: right;
    margin-right: 2%;
}

#topTracks ol {
    padding-bottom: 2%;
    font-weight: 400;
    font-size: 130%;
}


/* Artist slide */
#topArtists {
    background-color: #f037a5;
}

#artist_grid {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.col {
    flex-direction: row;
    display: flex;
}

#topArtists img{
    height: 200px;
    width: 200px;
}

#artist-info {
    margin-top: 50px;
    margin-right: 150px;
}
#artist-info ol{
    font-size: 35px;
    font-weight: 400;
    
}

#artist-info h3 {
    color: #cdf564;
    font-weight: 700;
    font-size: 800%;
}

/* Genre Slide */

#topGenres h3 {
    padding-left: 2%;
    color: #f037a5;
    font-weight: 700;
    font-size: 800%;
}

#topGenres_ul {
    font-weight: 700;
    font-size: 650%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
}

#topGenres_ul li {
    padding-left: 2%;
    padding-right: 2%;
}

/* Obscure Slide */
#most-obscure {
    background-color: #f037a5;
}

#obscure-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#obscure-title {
    font-weight: 700;
    font-size: 100px;
    color: #cdf564;
    margin-top: 100px;
    padding-bottom: 40px;
}

#most-obscure h3 {
    color: white;
    
}

#obscure-text {
    margin-left: 100px;
    margin-right: 50px;
}

.info {
    display: flex;
    font-weight: 700;
    font-size: 40px;
}

.info h4 {
    padding-left: 15px;
} 

#obscure-imgs {
    width: 300px;
    height: 300px;
    padding-right: 150px;
}

#obscure-img-0 {
    transform: translate(150px, -40px);
}
#obscure-img-1 {
    transform: translate(60px, -240px);
}
#obscure-img-2 {
    transform: translate(-30px, -435px);
}


/* movement buttons */

.slide-movement {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 120px;
}

.slide-movement-bttn:hover {
    color:#cdf564
}

.slide-movement-even:hover {
    color: #f037a5;
}

/* restart */
#restart {
    background-color: black;
    min-height: fit-content;
    
}

#content h2 {
    font-weight: 700;
    font-size: 100px;
    color: #cdf564;
}

#content p {
    color: white;
    font-size: 50px;
    padding-bottom: 5%;
}

#restart button {
    background-color: #f037a5;
    border: 4px solid black;
    color: black;
    padding: 20px 40px;
    text-align: center;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: larger;
}

#restart button:hover {
    background-color: black;
    color: #f037a5;
    border: 4px solid #f037a5;
}